<% include ../partials/clientHeader %>

        <!-- Hero Area Start -->
        <div id="hero-area" class="hero-area-bg">
            <div class="container">                
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <div class="contents">
                            <h2 class="head-title">Yogi Classes<br>"Success Comes from Efforts"</h2>
                            <p>Yogi classes provides a platform for the students to  get home tutions on various subjects and fields.It also provide online video courses on various fields.</p><hr>
                            <p>To Enroll in yogi classes for any kind of home tutions or video courses you must be registered first and after verification the other facilities will be provided to you.</p><hr>
                            <p>Yogi classes also recruits tutors to join with them.To Enroll as a tutor you must be registered first and after verification the other facilities will be provided to you. </p>
                            <div class="header-button">
                                <a href="/index/registration" class="btn btn-common">Student Register</i></a>
                                <a href="/index/registrationteacher" class="btn btn-border video-popup">Teacher Register</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <div class="intro-img">
                            <img class="img-fluid" src="/assets/img/logo.PNG" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- Services Section Start -->
    <section id="services" class="section-padding">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Our Services</h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
            <div class="row">
                <!-- Services item -->
                <div class="col-md-6 col-lg-6 col-xs-12">
                    <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
                        <div class="icon">
                            <i class="lni-users"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="/index/registration">Group Tutions</a></h3>
                            <p>We provide Group Tutions Facility to the Students. </p>
                        </div>
                    </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-6 col-xs-12">
                    <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
                        <div class="icon">
                            <i class="lni-home"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="/index/registration">Home Tutions</a></h3>
                            <p>We provide Home Tutions Facility to the Student. </p>
                        </div>
                    </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-6 col-xs-12">
                    <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
                        <div class="icon">
                            <i class="lni-hourglass"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="/index/courses/1">Online courses</a></h3>
                            <p>Various Online Video Courses are available there for the students. </p>
                        </div>
                    </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-6 col-xs-12">
                    <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
                        <div class="icon">
                            <i class="lni-hourglass"></i>
                        </div>
                        <div class="services-content">
                            <h3><a href="#">Live Webinars</a></h3>
                            <p>Live Webinars Facility is there for the Students. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="header-button col-md-2">
                    <a href="/index/pricing" class="btn btn-common">See Pricing</i></a>
                </div>
                <div class="col-md-5">
                </div>
            </div>            
        </div>
    </section>
    <!-- Services Section End -->

    <!-- About Section start -->
    <div id="about" class="about-area section-padding bg-gray">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">About Us</h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-7 col-xs-12 info">
                    <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
                        <div>
                            <div class="site-heading">
                                <h2 class="section-title">Who are we ?</h2>
                            </div>
                            <div class="content">
                                <p>
                                    Yogi classes is the initiative lead by Mr. Yogesh Upadhyay to provide students  the best education in their field at very affordable tution fees.
                                </p>
                                <p>
                                    Here We provide students best tutors in their field for the personal and group tutions at home.And also provide online student panel so the students or their parents can check and verify the authencity of the tutor coming to their home and they can also see their last transactions of tution fees.
                                </p>
                                <p>
                                    For any further Enquiry you can Post your enquiry below.
                                </p>
                                <a href="#contact" class="btn btn-common mt-3">Enquiry Below</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
                    <img class="img-fluid" src="/assets/img/logo2.PNG" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->

    <!-- Features Section Start -->
    <section id="features" class="section-padding">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Why Yogi Classes ?</h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-right">
                        <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
                            <span class="icon">
                  <i class="lni-heart"></i>
                </span>
                            <div class="text">
                                <h4>Best Faculties</h4>
                                <p>We provide best and specialised faculties to our students.</p>
                            </div>
                        </div>
                        <div class="box-item wow fadeInLeft" data-wow-delay="0.6s">
                            <span class="icon">
                  <i class="lni-medall"></i>
                </span>
                            <div class="text">
                                <h4>Personality Development</h4>
                                <p>We also focus on development of overall Personality of student</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-right">
                        <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
                            <span class="icon">
                  <i class="lni-highlight"></i>
                </span>
                            <div class="text">
                                <h4>Doubt Removal Classes</h4>
                                <p>Extra classes are provided to the student in home tutions.</p>
                            </div>
                        </div>
                        <div class="box-item wow fadeInLeft" data-wow-delay="0.9s">
                            <span class="icon">
                  <i class="lni-clipboard"></i>
                </span>
                            <div class="text">
                                <h4>Study Material</h4>
                                <p>Study Material including pdf,ebooks are provided to the student.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-right">

                        <div class="box-item wow fadeInRight" data-wow-delay="0.6s">
                            <span class="icon">
                  <i class="lni-layers"></i>
                </span>
                            <div class="text">
                                <h4>Revision Classes</h4>
                                <p>Revision classes are provided to the student in home tutions.</p>
                            </div>
                        </div>
                        <div class="box-item wow fadeInRight" data-wow-delay="0.9s">
                            <span class="icon">
                  <i class="lni-cloud-check"></i>
                </span>
                            <div class="text">
                                <h4>Online Support</h4>
                                <p>Online Student Panel and Whatsapp support is provided to the student.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features Section End -->

    <!-- Courses Section Start -->
    <% if( courses != 'none') { %>
    <section id="courses" class="section-padding bg-gray">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Online Video Courses</h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <!-- Course Item Starts -->
                    <div class="card wow fadeInRight" data-wow-delay="0.2s">
                        <a href="/index/courses/single/<%= courses[0].slug %>/"><img class="card-img-top img-fluid" src="/image/<%= courses[0].image.fileName %>" alt="">
                        <div class="card-block">
                            <h3 class="card-title"><a href="/index/courses/single/<%= courses[0].slug %>/"><%= courses[0].title %></a></h3>
                            <p class="card-title">By : <%= courses[0].trainer %></p>
                        </div>
                    </div>
                    <!-- Course Item Ends -->
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <!-- Course Item Starts -->
                    <div class="card wow fadeInRight" data-wow-delay="0.2s">
                        <a href="/index/courses/single/<%= courses[0].slug %>/"><img class="card-img-top img-fluid" src="/image/<%= courses[1].image.fileName %>" alt="">                        
                        <div class="card-block">
                            <h3 class="card-title"><a href="/index/courses/single/<%= courses[1].slug %>/"><%= courses[1].title %></a></h3>                            
                            <p class="card-title">By : <%= courses[1].trainer %></p>
                        </div>
                    </div>
                    <!-- Course Item Ends -->
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
                </br><a href="/index/courses/1" class="btn btn-common">View All</a>
            </div>
        </div>
    </section>
    <% } %>
    <!-- Course Section End -->

    <!-- Call To Action Section Start -->
    <section id="cta" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="cta-text">
                        <h4>Register Now For Free</h4>
                        <p>Students willing to join for any online courses or home tutions must be registered first. </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
                    </br><a href="/index/registration" class="btn btn-common">Register Now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section Start -->

    <!-- Contact Section Start -->
    <section id="contact" class="section-padding bg-gray">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Contact Us</h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
            <div class="row contact-form-area wow fadeInUp " data-wow-delay="0.3s">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="contact-block">
                        <form action="/index/contact" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="number" placeholder="Mobile No." id="mobile" class="form-control" name="mobile" required data-error="Please enter your mobile no.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="Subject" id="msg_subject" class="form-control" name="subject" required data-error="Please enter your subject">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" placeholder="Your Message" name="message" rows="7" data-error="Write your message" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="submit-button text-left">
                                        <button class="btn btn-common" id="form-submit" type="submit">Send Message</button>
                                        <div class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

<% include ../partials/clientFooter %>
