<% include ../partials/dashboardhead %>
<% var role = currentUser.role %>

        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <% if(success && success.length > 0) { %>      
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                    <% } %>
                    <% if(error && error.length > 0) { %>      
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                    <% } %>
                    <div class="col-md-12">
                        <h1 class="page-head-line">Create New Course</h1>
                        <h1 class="page-subhead-line">You can create new course here</h1>
                    </div>                    
                </div>
                <form action="/dashboard/admin/courses" method="POST">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Course Title</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" name="title" type="text" placeholder="Course title here">
                        </div>
                        <div class="col-md-4">
                            <button class="form-control btn btn-success" type="submit">Create</button>
                        </div>
                    </div>                                              
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">All Courses</h1>
                        <h1 class="page-subhead-line">You can edit all latest courses here</h1>
                    </div>
                </div>
                
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="50">S.No.</th>
                                <th width="400">Name</th>                                
                                <th width="80">Status</th>                                
                                <th colspan="4">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var count = 1; %>
                            <% courses.reverse().forEach(function(course,ind){ %>                                                            
                                <tr>
                                    <td><%= count++ %></td>
                                    <td><%= course.title %></td>                                   
                                    <td>
                                        <% if (course.isActive == true) { %>                                                        
                                            <a class="btn btn-md btn-success">Active</a>
                                        <% } else { %>
                                            <a class="btn btn-md btn-warning">Inactive</a>
                                        <% } %>   
                                    </td>
                                    <td>
                                        <% if (course.isActive == true) { %> 
                                        <a href="/index/courses/single/<%= course.slug %>"><button type="button" class="btn btn-md btn-primary">View</button> </a>
                                        <% } else { %>
                                        <a href="#"><button type="button" disabled class="btn btn-md btn-primary">View</button> </a>
                                        <% } %>        
                                    </td>
                                    <td>
                                        <% if (course.isActive == false) { %>                                                       
                                            <form action="/dashboard/admin/courses/<%= course._id %>/enabledisable" method="POST" >
                                            <button type="submit" class="btn btn-md btn-warning">Enable</button>
                                            </form>
                                        <% } else { %>
                                            <form action="/dashboard/admin/courses/<%= course._id %>/enabledisable" method="POST" >
                                            <button type="submit" class="btn btn-md btn-danger">Disable</button>
                                            </form>
                                        <% } %>        
                                    </td>                                     
                                    <td>
                                        <a href="/dashboard/admin/courses/<%= course._id %>/edit" class="btn btn-md btn-info">Edit</a>                                       
                                    </td>                                                                                        
                                    <td>    
                                        <form action="/dashboard/admin/courses/<%= course._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Are You Sure You Want to Delete'); " >
                                            <button type="submit" class="btn btn-md btn-danger"><i class="fa fa-trash-o"></i>Delete</button>                                                                
                                        </form>                                                        
                                    </td>                                       
                                </tr> 
                            <% } )  %>
                        </tbody>
                    </table>
                </div>
                <!-- /. ROW  -->
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

<% include ../partials/dashboardfoot %>
