<% include ../partials/dashboardhead %>
<% var role = currentUser.role %>

        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Teachers Details</h1>
                        <h1 class="page-subhead-line">Teacher details here</h1>

                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <% if(teacher.image.fileName != undefined) {  %>
                        <div class="col-md-4" style="max-width: 200px; height: 200px;">
                            <img src="/image/<%= teacher.image.fileName %>" class="img-responsive img-thumbnail" style="max-width: 200px; height: 200px;" />
                        </div>
                        <% } else {  %>
                        <div class="col-md-4" style="max-width: 200px; height: 200px;">
                            <img src="/dashboard/img/defaultuser.jpg" class="img-responsive img-thumbnail" style="max-width: 200px; height: 200px;" />
                        </div> 
                        <% } %>  
                    </div><hr>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Name</label>
                        </div>
                        <div class="col-md-8">
                            <p><%= teacher.name %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Mother's Name</label>
                        </div>
                        <div class="col-md-8">
                            <p><%= teacher.motherName %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Father's Name</label>
                        </div>
                        <div class="col-md-8">
                            <p><%= teacher.fatherName %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Permanent Address</label>
                        </div>
                        <div class="col-md-8">
                            <p><%= teacher.pAddress %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Correspondance Address</label>
                        </div>
                        <div class="col-md-8">
                            <p><%= teacher.cAddress %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Mobile No.</label>
                        </div>
                        <div class="col-md-8">
                            <p><%= teacher.mobile %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Email ID</label>
                        </div>
                        <div class="col-md-8">
                            <p><%= teacher.emailId %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Date of Birth(dd/mm/yyyy)</label>
                        </div>
                        <div class="col-md-8">
                            <p><%= teacher.dob %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>High School/College Name</label>
                        </div>
                        <div class="col-md-8">
                            <p><%= teacher.college %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Sample Video URL</label>
                        </div>
                        <div class="col-md-8">
                            <p><%= teacher.videourl %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Academic Qualification</label>
                        </div>
                        <div class="col-md-8">
                            <p><%= teacher.academic %></p>
                        </div>
                    </div>                  
                    <div class="row">
                        <div class="col-md-4">
                            <label>Subject Expertise</label>
                        </div>
                        <div class="col-md-8">
                            <p><%= teacher.subjects %></p>
                        </div>
                    </div>
                </div>
                <!-- /. ROW  -->
                <!-- /. PAGE INNER  -->
            </div>
            <!-- /. PAGE WRAPPER  -->
        </div>
        <!-- /. WRAPPER  -->

<% include ../partials/dashboardfoot %>
